<%= form_with(model: ninja, local: true) do |form| %>
  <% if ninja.errors.any? %>
    <p id="error_explanation">
      
      <p class="alert alert-danger" role="alert">
        <%= pluralize(ninja.errors.count, "#{ninja.errors.count > 1 ? 'Erros' : 'Error'}") %> !
      </p>

      <ul>
      <% ninja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= form.text_field :name, autofocus: true, placeholder:"New name for your ninja", class: "form-control", required: true %><br>

  <p class="actions">
    <%= form.submit "Confirm !", class: 'btn btn-lg btn-primary btn-block' %>
  </p>
<% end %>
