<%= form_with(model: ninja, local: true) do |form| %>
  <% if ninja.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(ninja.errors.count, "error") %> prohibited this ninja from being saved:</h2>

      <ul>
      <% ninja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= form.text_field :name, autofocus: true, placeholder:"New name for your ninja", class: "form-control", required: true %>

  <p class="actions">
    <%= form.submit "Confirm !", class: 'btn btn-lg btn-primary btn-block' %>
  </p>
<% end %>
