<div class="card">
  <h2>Battle a Ninja !</h2><br>
  <table style="width:100%">
    <tr>
      <th>Ninja</th>
      <th></th>
    </tr>
    <% @ninjas.each do |ninja| %>
      <tr>
        <td id=<%= ninja.id %>><%= "#{ninja.name} (#{ninja.user.id})" %></td>
        <td><%= link_to "BATTLE !", '#', class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table><br>
</div>

<div class="card">
  <h2>Last Battles</h2><br>
  <table style="width:100%">
    <tr>
      <th>Battle ID</th>
      <th>Ninjas</th> 
      <th>Date</th>
    </tr>
    <% @battles.each do |battle| %>
      <tr>
        <td><%= battle.id %></td>
        <td><%= display_ninjas(battle) %></td> 
        <td><%= battle.updated_at.strftime("%-d/%m %H:%M:%S") %></td>
      </tr>
    <% end %>
  </table><br>
</div>
